.main{
    /* display: flex; */
    margin-left:25%;
    margin-right: 25%;
    margin-top: 20px;
   width: 800px;
   height: 1000px;
    border: 3px;
   padding: 30px;
   background-color: rgb(116, 223, 223);
   


}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#pic{
    height: 170px;
    width: 120px;
}

header{
    display: grid;
    grid-template-columns: 25% 75%;
    

}
.icon{
    width: 15px;
    height: 15px;
    margin-left: 50px;
}

#name {
    color: red;
    font-weight: 300;
    font-size:xx-large;
  
}
#as{
    font-size: large;
    font-weight: bold;
}

.contact{
    font-size: smaller;
}

.section{
    display:flex;
    flex-direction: column;

}

.firstCol {
    font-size: larger;
    font-weight:bolder;
   }

   .title{
        font-weight: bold;
        font-size: large;
   }

   .company{
    font-weight: 400;
    font-size: 20px;
   }

   .duration{
        font-size: small;
   }
   .skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
   }
   .skill{
    background-color: gray;
    border: 1px;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
    color: brown;
    margin: 4px;
   }






